parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Faker\\\\Generator\\:\\:dairyName\\(\\)\\.$#"
			count: 1
			path: src/Admin/Adapters/DataFixtures/ArticleFixtures.php

		-
			message: "#^Call to an undefined method Faker\\\\Generator\\:\\:fruitName\\(\\)\\.$#"
			count: 2
			path: src/Admin/Adapters/DataFixtures/ArticleFixtures.php

		-
			message: "#^Call to an undefined method Faker\\\\Generator\\:\\:meatName\\(\\)\\.$#"
			count: 1
			path: src/Admin/Adapters/DataFixtures/ArticleFixtures.php

		-
			message: "#^Call to an undefined method Faker\\\\Generator\\:\\:vegetableName\\(\\)\\.$#"
			count: 2
			path: src/Admin/Adapters/DataFixtures/ArticleFixtures.php

		-
			message: "#^Match expression does not handle remaining value\\: string$#"
			count: 2
			path: src/Admin/Adapters/DataFixtures/ArticleFixtures.php

		-
			message: "#^Method Admin\\\\Adapters\\\\DataFixtures\\\\ArticleFixtures\\:\\:getPackaging\\(\\) should return array\\{array\\{Admin\\\\Entities\\\\Unit\\\\Unit, float\\}, array\\{Admin\\\\Entities\\\\Unit\\\\Unit, float\\}\\|null, array\\{Admin\\\\Entities\\\\Unit\\\\Unit, float\\}\\|null\\} but returns array\\<int\\<0, max\\>, array\\{Admin\\\\Entities\\\\Unit\\\\Unit, float\\}\\|null\\>\\.$#"
			count: 1
			path: src/Admin/Adapters/DataFixtures/ArticleFixtures.php

		-
			message: "#^Call to an undefined method Faker\\\\Generator\\:\\:meatName\\(\\)\\.$#"
			count: 1
			path: src/Admin/Tests/Adapters/Controller/Symfony/Controller/Article/GetArticles/GetArticlesControllerTest.php

		-
			message: "#^Call to an undefined method Faker\\\\Generator\\:\\:vegetableName\\(\\)\\.$#"
			count: 1
			path: src/Admin/Tests/Adapters/Controller/Symfony/Controller/Article/GetArticles/GetArticlesControllerTest.php

		-
			message: "#^Parameter \\#1 \\$instantiator of method Zenstruck\\\\Foundry\\\\ObjectFactory\\<Admin\\\\Adapters\\\\Gateway\\\\ORM\\\\Entity\\\\Company&Zenstruck\\\\Foundry\\\\Persistence\\\\Proxy\\<Admin\\\\Adapters\\\\Gateway\\\\ORM\\\\Entity\\\\Company\\>\\>\\:\\:instantiateWith\\(\\) expects callable\\(array\\<string, mixed\\>, class\\-string\\<Admin\\\\Adapters\\\\Gateway\\\\ORM\\\\Entity\\\\Company&Zenstruck\\\\Foundry\\\\Persistence\\\\Proxy\\<Admin\\\\Adapters\\\\Gateway\\\\ORM\\\\Entity\\\\Company\\>\\>\\)\\: \\(Admin\\\\Adapters\\\\Gateway\\\\ORM\\\\Entity\\\\Company&Zenstruck\\\\Foundry\\\\Persistence\\\\Proxy\\<Admin\\\\Adapters\\\\Gateway\\\\ORM\\\\Entity\\\\Company\\>\\), Closure\\(array\\)\\: Admin\\\\Adapters\\\\Gateway\\\\ORM\\\\Entity\\\\Company given\\.$#"
			count: 1
			path: src/Admin/Tests/Factory/CompanyFactory.php

		-
			message: "#^Parameter \\#1 \\$instantiator of method Zenstruck\\\\Foundry\\\\ObjectFactory\\<Admin\\\\Adapters\\\\Gateway\\\\ORM\\\\Entity\\\\FamilyLog\\\\FamilyLog&Zenstruck\\\\Foundry\\\\Persistence\\\\Proxy\\<Admin\\\\Adapters\\\\Gateway\\\\ORM\\\\Entity\\\\FamilyLog\\\\FamilyLog\\>\\>\\:\\:instantiateWith\\(\\) expects callable\\(array\\<string, mixed\\>, class\\-string\\<Admin\\\\Adapters\\\\Gateway\\\\ORM\\\\Entity\\\\FamilyLog\\\\FamilyLog&Zenstruck\\\\Foundry\\\\Persistence\\\\Proxy\\<Admin\\\\Adapters\\\\Gateway\\\\ORM\\\\Entity\\\\FamilyLog\\\\FamilyLog\\>\\>\\)\\: \\(Admin\\\\Adapters\\\\Gateway\\\\ORM\\\\Entity\\\\FamilyLog\\\\FamilyLog&Zenstruck\\\\Foundry\\\\Persistence\\\\Proxy\\<Admin\\\\Adapters\\\\Gateway\\\\ORM\\\\Entity\\\\FamilyLog\\\\FamilyLog\\>\\), Closure\\(array\\)\\: Admin\\\\Adapters\\\\Gateway\\\\ORM\\\\Entity\\\\FamilyLog\\\\FamilyLog given\\.$#"
			count: 1
			path: src/Admin/Tests/Factory/FamilyLogFactory.php

		-
			message: "#^Parameter \\#1 \\$instantiator of method Zenstruck\\\\Foundry\\\\ObjectFactory\\<Admin\\\\Adapters\\\\Gateway\\\\ORM\\\\Entity\\\\Tax&Zenstruck\\\\Foundry\\\\Persistence\\\\Proxy\\<Admin\\\\Adapters\\\\Gateway\\\\ORM\\\\Entity\\\\Tax\\>\\>\\:\\:instantiateWith\\(\\) expects callable\\(array\\<string, mixed\\>, class\\-string\\<Admin\\\\Adapters\\\\Gateway\\\\ORM\\\\Entity\\\\Tax&Zenstruck\\\\Foundry\\\\Persistence\\\\Proxy\\<Admin\\\\Adapters\\\\Gateway\\\\ORM\\\\Entity\\\\Tax\\>\\>\\)\\: \\(Admin\\\\Adapters\\\\Gateway\\\\ORM\\\\Entity\\\\Tax&Zenstruck\\\\Foundry\\\\Persistence\\\\Proxy\\<Admin\\\\Adapters\\\\Gateway\\\\ORM\\\\Entity\\\\Tax\\>\\), Closure\\(array\\)\\: Admin\\\\Adapters\\\\Gateway\\\\ORM\\\\Entity\\\\Tax given\\.$#"
			count: 1
			path: src/Admin/Tests/Factory/TaxFactory.php

		-
			message: "#^Parameter \\#1 \\$instantiator of method Zenstruck\\\\Foundry\\\\ObjectFactory\\<Admin\\\\Adapters\\\\Gateway\\\\ORM\\\\Entity\\\\Unit&Zenstruck\\\\Foundry\\\\Persistence\\\\Proxy\\<Admin\\\\Adapters\\\\Gateway\\\\ORM\\\\Entity\\\\Unit\\>\\>\\:\\:instantiateWith\\(\\) expects callable\\(array\\<string, mixed\\>, class\\-string\\<Admin\\\\Adapters\\\\Gateway\\\\ORM\\\\Entity\\\\Unit&Zenstruck\\\\Foundry\\\\Persistence\\\\Proxy\\<Admin\\\\Adapters\\\\Gateway\\\\ORM\\\\Entity\\\\Unit\\>\\>\\)\\: \\(Admin\\\\Adapters\\\\Gateway\\\\ORM\\\\Entity\\\\Unit&Zenstruck\\\\Foundry\\\\Persistence\\\\Proxy\\<Admin\\\\Adapters\\\\Gateway\\\\ORM\\\\Entity\\\\Unit\\>\\), Closure\\(array\\)\\: Admin\\\\Adapters\\\\Gateway\\\\ORM\\\\Entity\\\\Unit given\\.$#"
			count: 1
			path: src/Admin/Tests/Factory/UnitFactory.php

		-
			message: "#^Parameter \\#1 \\$instantiator of method Zenstruck\\\\Foundry\\\\ObjectFactory\\<Admin\\\\Adapters\\\\Gateway\\\\ORM\\\\Entity\\\\ZoneStorage&Zenstruck\\\\Foundry\\\\Persistence\\\\Proxy\\<Admin\\\\Adapters\\\\Gateway\\\\ORM\\\\Entity\\\\ZoneStorage\\>\\>\\:\\:instantiateWith\\(\\) expects callable\\(array\\<string, mixed\\>, class\\-string\\<Admin\\\\Adapters\\\\Gateway\\\\ORM\\\\Entity\\\\ZoneStorage&Zenstruck\\\\Foundry\\\\Persistence\\\\Proxy\\<Admin\\\\Adapters\\\\Gateway\\\\ORM\\\\Entity\\\\ZoneStorage\\>\\>\\)\\: \\(Admin\\\\Adapters\\\\Gateway\\\\ORM\\\\Entity\\\\ZoneStorage&Zenstruck\\\\Foundry\\\\Persistence\\\\Proxy\\<Admin\\\\Adapters\\\\Gateway\\\\ORM\\\\Entity\\\\ZoneStorage\\>\\), Closure\\(array\\)\\: Admin\\\\Adapters\\\\Gateway\\\\ORM\\\\Entity\\\\ZoneStorage given\\.$#"
			count: 1
			path: src/Admin/Tests/Factory/ZoneStorageFactory.php
