<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
         convertDeprecationsToExceptions="false"
>
    <php>
        <ini name="display_errors" value="1" />
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="KERNEL_CLASS" value="App\Kernel" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="SYMFONY_PHPUNIT_REMOVE" value="" />
        <server name="SYMFONY_PHPUNIT_VERSION" value="9.6" />
        <server name="SYMFONY_PROJECT_DEFAULT_ROUTE_URL" value="" />
        <server name="BROWSER_ALWAYS_START_WEBSERVER" value="1"/>
        <server name="PANTHER_APP_ENV" value="test" />
        <env name="APP_ENV" value="test" force="true" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[total]=999999"/>
    </php>

    <testsuites>
        <testsuite name="Unit Test Suite">
            <directory>src/**/Tests/UseCases</directory>
            <directory>src/**/Tests/Entities</directory>
        </testsuite>
        <testsuite name="Functional Test Suite">
            <directory>src/**/Tests/Adapters</directory>
            <directory>src/**/Tests/Twig</directory>
        </testsuite>
        <testsuite name="E2E Test Suite">
            <directory>src/**/Tests/EndToEnd</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory=".phpunit.cache/code-coverage" processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <file>src/Kernel.php</file>
            <directory>src/**/Tests</directory>
            <directory>src/**/Adapters/DataFixtures</directory>
        </exclude>
        <report>
            <clover outputFile="clover.xml" />
        </report>
    </coverage>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>

    <extensions>
        <extension class="Symfony\Component\Panther\ServerExtension" />
    </extensions>
</phpunit>
