{% extends 'base.html.twig' %}

{% block header %}
    <header>
        <h1>Administration</h1>
    </header>
{% endblock %}

{% block body %}

    <div class="row">
        <aside class="col-md-3">
            <nav id="menu">
                <ul>
                    <li><a href="{{ path('company_create') }}" role="button" class="{% if hasCompany %}secondary {% endif %}w100">Create Company</a></li>
                    <li><a href="#" role="button" class="secondary w100">Configure application</a></li>
                    <li><a href="#" role="button" class="secondary w100">Create Storage area</a></li>
                    <li><a href="#" role="button" class="secondary w100">Create Logistic family</a></li>
                    <li><a href="#" role="button" class="secondary w100">Create Supplier</a></li>
                    <li><a href="#" role="button" class="secondary w100">Create Article</a></li>
                </ul>
            </nav>
        </aside>
        <article class="col-md-9">
            <p>Here you configure your application.</p>
            <p>Select items in order.</p>
            <p></p>
            <p>Happy configure ;)</p>
        </article>
    </div>

{% endblock %}
