/** Buttons */
a[role="button"] {
    margin-bottom: var(--spacing);
}

a.disable-link, a[role="button"].disable-link {
    pointer-events: none;
    cursor: default;
}

span > a[role="button"] {
    margin: 0;
    padding: calc(var(--form-element-spacing-vertical) * 0.2) calc(var(--form-element-spacing-horizontal) * 0.2);
}

turbo-frame .grid > a[role="button"] {
    margin: 0 0 var(--spacing);
    padding: var(--form-element-spacing-vertical) calc(var(--form-element-spacing-horizontal) * 0.2);
    display: block;
    width: 100%;
}

nav.menu li > a[role="button"] {
    width: 100%;
}

.bottom-element {
    bottom: 0;
    right: var(--block-spacing-horizontal);
    position: absolute;
}
div:has(.bottom-element) {
    position: relative;
}

.btn-small {
    margin: 0;
    padding: calc(var(--form-element-spacing-vertical) * 0.2) calc(var(--form-element-spacing-horizontal) * 0.2);
    font-size: calc(var(--font-size) * .8);
}
