/**
 * Forms
 */

.login-form {
    max-width: 50%;
    margin-inline: auto;
}

label.required:before {
    content: "*";
    padding-right: calc(var(--block-spacing-horizontal) * .25);
}

div.grid:has(a[role="button"]),
div.grid:has(button) {
    margin-top: var(--block-spacing-vertical);
}

.form-error {
    color: var(--color-error);
    background-color: var(--color-error-bg);
    font-style: italic;
    font-size: calc(var(--font-size) * 0.8);
    list-style: none;
    border-radius: var(--border-radius);
    padding: var(--form-element-spacing-vertical) var(--form-element-spacing-horizontal);
}
ul:has(.form-error) {
    padding-left: 0;
    padding-inline-start: 0;
}

input:disabled + .help-text {
    margin-top: calc(-1 * var(--form-element-spacing-vertical));
    margin-bottom: var(--form-element-spacing-vertical);
}

.help-text {
    color: var(--muted-color);
    font-size: calc(var(--font-size) * 0.8);
    font-style: italic;


    & > p {
        margin-top: var(--form-element-spacing-vertical);
        color: var(--muted-color);
        font-size: calc(var(--font-size) * 0.8);
        font-style: italic;
    }
}

/* Input groups */
.input-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}
.input-group-append,
.input-group-prepend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.input-group-append {
    margin-left: calc(var(--border-width) * (-1));
}
.input-group-prepend {
    margin-right: calc(var(--border-width) * (-1));
}
.input-group>.input-group-append>.input-group-text,
.input-group > input:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group>.input-group-prepend>.input-group-text,
.input-group > input:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group-text {
    display: flex;
    align-items: center;
    padding: 0 var(--block-spacing-horizontal);
    margin-bottom: var(--spacing);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    color: var(--form-element-color);
    text-align: center;
    white-space: nowrap;
    background-color: var(--form-element-background-color);
    border: var(--border-width) solid var(--form-element-border-color);
    border-radius: var(--border-radius);
}

/* Fieldset */
fieldset {
    padding: var(--block-spacing-horizontal);
    border: var(--border-width) solid var(--form-element-border-color);
    border-radius: var(--border-radius);
    outline: 0;
    background-color: var(--form-element-background-color);
    box-shadow: none;
    color: var(--form-element-color);
    font-weight: var(--font-weight);
    transition: background-color var(--transition), border-color var(--transition), color var(--transition), box-shadow var(--transition);

    & > legend {
        padding: calc(var(--block-spacing-horizontal) * 0.5);
    }
}


turbo-frame  {
    & > div {
        flex: 1;
    }

    & h3 {
        margin-bottom: var(--spacing);
    }
    & form {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
        grid-column-gap: var(--grid-spacing-horizontal);
        grid-row-gap: var(--grid-spacing-vertical);
        align-items: center;

        &:has(div.grid > div) {
            display: block;
        }

        & div.grid:has(a[role="button"]), div.grid:has(button) {
            margin-top: var(--spacing);
        }
    }
}
