{% extends 'base.html.twig' %}

{% block body %}
    <h1>Application</h1>

    <article>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto blanditiis debitis distinctio dolor,
            eius et illo illum iure laboriosam modi praesentium quae recusandae reiciendis repellendus rerum similique
            tempora. Fugiat, reiciendis!
        </p>
    </article>
{% endblock %}

{% block title %}

{% endblock %}

